.widget--default {
  .widget__content {
    border: 1px solid green;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: green;
    padding: 15px 0 15px 0;
    border-radius: 3px;
  }

  .widget__footer {
    display: flex;
    > div {
      width: 50%;
      padding: 15px;
    }
  }
}
