@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "widget";

.dashboard {
  background-color: #1C1E21;
  padding: 10px;
  height: 100vh;
}
.dashboard__container {
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  // grid-gap can also be used.
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 40em) {
  .dashboard__container {
    // Need to understand this line better.
    grid-template-columns: repeat(4, 1fr);
    //grid-template-rows: 300px 100px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
}