.widgetB {
  font-family: 'Raleway', sans-serif;
  border: 1px solid #25292D;
  background-color: #25292D;
  color: #ffffff;
  border-radius: 3px;
  padding: 40px;
  //height: 300px;
  //width: 300px;

  .widget__title {
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    font-size: 0.9rem;
    display: block;
    padding: 5px 0 5px 0;
  }

  .widget__subtitle {
    font-size: 0.7rem;
    padding: 5px 0 5px 0;
    font-weight: lighter;
  }

  .widget__content {
    border: 1px solid green;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: green;
    padding: 15px 0 15px 0;
    border-radius: 3px;
  }

  .widget__footer {
    display: flex;
    > div {
      width: 50%;
      padding: 15px;
    }
  }
}
